<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de {{student.name}}</ion-title>
    <ion-tab-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img [src]="student.photo" />
    <ion-card-header>
      <ion-card-subtitle>
        <h2>
          NOMBRE: {{student.name}}
          <ion-chip color="warning" class="ion-float-right">
            <ion-label> {{student.career}} </ion-label>
          </ion-chip>
        </h2>
        <h2>NO. CTRL: {{student.controlNumber}}</h2>
        <h2>CORREO: {{student.email}}</h2>
        <h2>CURP: {{student.curp}}</h2>
        <h2>EDAD: {{student.age}}</h2>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
